eventlet         
Flask            
Flask-SocketIO   
Flask-SQLAlchemy
mysqlclient      
numpy            
PyMySQL         
greenlet         
python-engineio  
python-socketio
SpeechRecognition  
torch>=0.4.1
librosa==0.5.1
scipy>=0.19.0
unicode
unidecode

 

