eventlet         0.24.1
Flask            1.0.2
Flask-SocketIO   3.3.1
Flask-SQLAlchemy 2.3.2
mysqlclient      1.4.2.post1
numpy            1.16.2
PyMySQL          0.9.3
greenlet         0.4.15
python-engineio  3.4.3
python-socketio  3.1.2

**mysql 8.0.13
